@{
    Layout="~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="col m4 s12">
        <form>
            <div class="row">
                <div class="col m4 input-field">
                    <input type="text" name="" value="">
                    <label for="">Title</label>
                </div>
                 <div class="col m4 input-field">
                    <input type="text" name="" value="">
                    <label for="">small discription</label>
                </div>

            </div>
        </form>
    </div>
</div>